{% extends 'main.html' %}
{% block title %}{{ title }}{% endblock %}
{% block container %}
<p class="h1">{{title}}</p>
{% if tareas %}
<div class="list-group">
    <a class="list-group-item list-group-item-action active" href="#" style="display: None;"></a>
    {% for tarea in tareas %}
        <a class="list-group-item list-group-item-action" href="{% url 'ver' tarea.pk %}">{{tarea}} <br><small>Vence: {% if tarea.vencimiento %}{{tarea.vencimiento}}{% else %}Sin vigencia.{% endif %}</small></a>
    {% endfor %}
</div>
{% else %}
<p>Sin tareas</p>
{% endif %}
<p>
    <a href="{% url 'nuevo' %}"><button type="button" class="btn btn-primary">Nueva Tarea</button></a>
</p>
{% endblock %}